PORT=3000
HOST=0.0.0.0
NODE_ENV=development
CORS_ORIGIN=*

# Supabase configuration
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-super-secret-service-role-key

# JWT config
JWT_SECRET=42edf2ff74d5b79adadde5e439f4aa82bbc21ff10ccbf65962748d83648c6cddcaa1fda8f05d9f57b3af4181309600e21b363cac100ab92d432f7a7ce0da079e
